# Virtual environment
.venv/
venv/

# Python
__pycache__/
*.pyc
*.pyo

# Environment variables
.env

# Database
*.db
*.sqlite3

# Logs
logs/
*.log

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db